---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        
        <h1>About 51 LLMs</h1>
        <p>This site is a record of experiments with 51 AI language models by a reader and writer of English.</p>
        <p>The best source of new knowledge about AIs as writers will come from readers and writers of natural language.</p>
	</body>
</html>
