---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro"
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "51 LLMs | Blog"
---

<BaseLayout pageTitle={pageTitle}>
	<p>This blog will be a frequent informal update on experiments with my current 51 favorite LLMs.</p>
	<ul>
		{allPosts.map((post) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
	</ul>
</BaseLayout>